name: test copter

on: [push, pull_request, workflow_dispatch]
# paths:
# - "*"
# - "!README.md" <-- don't rebuild on doc change

jobs:
  autotest:
    runs-on: ubuntu-20.04
    container:
      image: ardupilot/ardupilot-dev-base:latest
      options: --privileged --cap-add=SYS_PTRACE --security-opt apparmor=unconfined --security-opt seccomp=unconfined
    strategy:
      fail-fast: false  # don't cancel if a job from the matrix fails
      matrix:
        config: [
            mttr-test
        ]

    steps:
      # git checkout the PR
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      # Put ccache into github cache for faster build
      - name: Prepare ccache timestamp
        id: ccache_cache_timestamp
        run: |
          NOW=$(date -u +"%F-%T")
          echo "::set-output name=timestamp::${NOW}"
      - name: ccache cache files
        uses: actions/cache@v2
        with:
          path: ~/.ccache
          key: ${{github.workflow}}-ccache-base-${{steps.ccache_cache_timestamp.outputs.timestamp}}
          restore-keys: ${{github.workflow}}-ccache-base-  # restore ccache from either previous build on this branch or on master
      - name: setup ccache
        run: |
          mkdir -p ~/.ccache
          echo "base_dir = ${GITHUB_WORKSPACE}" > ~/.ccache/ccache.conf
          echo "compression = true" >> ~/.ccache/ccache.conf
          echo "compression_level = 6" >> ~/.ccache/ccache.conf
          echo "max_size = 400M" >> ~/.ccache/ccache.conf
          ccache -s
          ccache -z
      - name: test ${{matrix.config}}
        env:
          CI_BUILD_TARGET: ${{matrix.config}}
        shell: bash
        run: |
          PATH="/usr/lib/ccache:/opt/gcc-arm-none-eabi-6/bin:$PATH"
          PATH="/github/home/.local/bin:$PATH"
          Tools/scripts/mttr-build-ci.sh

      - name: Archive builds
        uses: actions/upload-artifact@v2
        with:
           name: builds-${{matrix.config}}
           path: /tmp/deploy_files
           retention-days: 60

      - name: Archive buildlog artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
           name: fail-${{matrix.config}}
           path: /tmp/buildlogs
           retention-days: 14

      - name: Archive .bin artifacts
        uses: actions/upload-artifact@v2
        with:
           name: BIN-${{matrix.config}}
           path: /__w/ardupilot/ardupilot/logs
           retention-days: 7
